#name {
  display: inline-block;
  transition: transform 600ms;
}

#name:hover {
  transform: scale(1.1);
}
#navbar{
    height: 78px;
}
.heading_text{
    font-weight: bold;
    font-size: 50px;
}
body{
  background-color: rgba(12, 6, 6, 0.247);
}
.headbdr{
  text-shadow: 3px 3px 6px gray;
}
